<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Delete Client</h4>
            <p class="card-category">
              Cuidado para não deletar o usuario ou cliente errado
            </p>
          </div>
          <div class="card-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="Title">Nome do Cliente</label>
                  <input
                    readonly
                    class="form-control"
                    name="Title"
                    value="<%= model.FirtName %>"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="Author">Tipo de Serviço</label>
                  <input
                    readonly
                    class="form-control"
                    name="Author"
                    value="<%= model.ServiceName %>"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="Comments">Valor do Serviço</label>
                <input
                  readonly
                  type="text"
                  class="form-control"
                  placeholder="Valor do Serviço"
                  name="Comments"
                  value="<%= model.PriceService %>"
                />
              </div>

              <div>
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a class="btn btn-outline-dark cancel" href="/clients"
                  >Cancel</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
