<%- include("_header") -%>

<form action="/clients/delete/<%= model.Client_ID %>" method="post">
  <section style="padding: 25px;"></section>
  <div class="form-horizontal">
    <%- include("_displayClient") -%>

    <!--
    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <input
          type="submit"
          value="Delete"
          class="btn btn-default btn-danger"
        />
        <a class="btn btn-outline-dark cancel" href="/clients">Cancel</a>
      </div>
    </div>
    -->
  </div>
  <section style="padding: 25px;"></section>
</form>

<%- include("_footer") -%>
