<%- include("_header") -%>
<form action="/clients/edit/<%= model.Client_ID %>" method="post">
  <section style="padding: 25px;"></section>
  <div class="form-horizontal">
    <%- include("_editorClient") -%>
  </div>
  <section style="padding: 25px;"></section>
</form>

<%- include("_footer") -%>
